* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ubisoft_sansbold", sans-serif;
}

/* Nav */

.navegador{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.mainNav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegador img{
    width: 10%;
    object-fit: cover;
    margin: 0.3rem 4rem 0.3rem 3rem ;
 }

.mainNav p{
   margin: 0.5rem 6rem 0 0;
}

.secondMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
}

.secondMain p{
    margin-right: 0.7rem;
}

.download{
    margin-bottom: 0.5rem;
    transform: scale(1.2);
}

.icons{
    margin-right: 3rem;
    transform: scale(1.2);
}

.secondMain div {
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Banner */

.sec{
    width: 100%;
    height: 900px;
background-image: url("https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6B49sRNBG3UNrxVHuPMtqc/3b9cab25b0f3813b0d59654562a34dfe/ubi-homescreen-afop-keyart-v1.jpg");
background-color: #cccccc; /* if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat, repeat;
background-size: cover;
position: relative;
z-index: 1; 
}

.sec::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, #05193799,  #00000099, #00000000, rgb(0, 0, 0));
    z-index: -1;
  }

.sec div{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

banner-component{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bannerH1{
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
}

.bannerp{
    margin-top: 0.5rem;
    font-weight: lighter;
    text-align: center;
    width: 60%;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
}

.sec div div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3%;
    height: 50px;
    width: 80%;
    height: 20%;
}

/* Banner 2 */

.sec2{
    width: 100%;
    height: 400px;
background-image: url("https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7u0o3i84kn2M0zywawe5fA/829fa9d992cc5772d4b009b122dbef07/ubisoft-evergreen_full_banner-swo_no_logo-early-access.jpg");
background-color: #cccccc; /* if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat, repeat;
background-size: cover;
color: white;
}

.sec2 div{
    gap: 2rem;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

bannertwo-component{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.p{
    font-weight: lighter;
    font-size: 1.2rem;
}

/* Cards */

.sec3{
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-color: #eeeeee;
    padding: 0 3rem 0 3rem;

}

.sec3 div{
    display: flex;
    justify-content: center;    
}

.sec3 h1{
    font-weight: bolder;
    font-size: 2rem;
}

/* new's sec */

.last_news{
padding:2rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
}

.last_news div{
    color: #D82688;
    display: flex;
    gap: 3rem;
}

sec4{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 0 8rem 4rem 8rem;
margin-top: 2rem;
}

sec4 .c1{
    width: 50%;
}

sec4 .c2{
    width: 50%;
}

.controlComponent{
    margin-top: 2rem;
    line-height: 1.8rem;
}

.controlComponent_2{
    line-height: 1.8rem;
}

.sec4_img{
    width: 60%;
} 

/* store */

sec5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #eeeeee;
    padding: 5rem;
}

sec5 div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}

/* Kits*/

sec6{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.sec6_img{
    width: 40%;
    height: 400px;
background-image: url("https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3GuXXIwqLXe9SOVWAElIX1/3f6ef0ee0af05c4db2b96fe3f7e71892/2023_06_Multi-Brands.png");
background-color: #cccccc; /* if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat, repeat;
background-size: cover;
color: white;
}

.sec6_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 300px;
    gap: 1rem;
    margin-right: 5rem;
    font-weight: bolder;
}

/* Ubisoft Connect */

sec7{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #0A0F1C;
    color: white;
    gap: 3rem;
}

.sec7_img{
    width: 30%;
    height: 200px;
background-image: url("https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6SfvkXTESPJr6U4faPWqfA/dce1ef7c7faeba75c4fa58e172aaaa20/ubisoft-connect-devices-visual-mockup.png");
background-color: #cccccc00; /* if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat, repeat;
background-size: cover;
color: white;
}

.sec7_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 300px;
    gap: 1.5rem;
    margin-right: 5rem;
}

.sec7_txt p{
    font-weight: lighter;
    font-size: 1.5rem;
}

/* social */

.social{
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;
    display: flex;
    
}

.social div{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.social p{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social div img{
    width: 3%;
}