div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    div h3{
        width: 70%;
        font-weight:bolder;
        font-family: "ubisoft_sansbold", sans-serif;
        
    }
    
    .icons-container{
        margin-left: 15%;
        flex-direction: row;
        gap: 1rem;
        color: rgb(47, 47, 47);
        justify-content: left;
    }
    
    img{
    width: 70%;
    }